version: "3.9"
services:
  orchestrator:
    build:
      context: ..
      dockerfile: docker/orchestrator/Dockerfile
    container_name: orchestrator
    privileged: true
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ..:/workspace
    restart: unless-stopped

  asr:
    build:
      context: ..
      dockerfile: asr-vosk/Dockerfile
    container_name: asr
    network_mode: host
    environment:
      - AUDIO_WS_URL=ws://127.0.0.1:8080/audio/mic
      - VOSK_MODEL=/app/models
    volumes:
      - /home/fio/LA/PortentaX8-voice-assistant/models/vosk/model:/app/models
    restart: unless-stopped

  tts:
    build:
      context: ..
      dockerfile: tts-piper/Dockerfile
    container_name: tts
    network_mode: host
    environment:
      - PIPER_VOICE=en_US-amy-medium
      - AUDIO_PLAY_URL=http://127.0.0.1:8080/audio/play
    volumes:
      - ../models/piper:/app/voices
    restart: unless-stopped

  nlu:
    build:
      context: ..
      dockerfile: nlu-llm/Dockerfile
    container_name: nlu
    network_mode: host
    environment:
      - LLM_MODEL=/models/tiny.gguf
      - MAX_TOKENS=128
      - TEMP=0.2
      - NLU_HTTP_PORT=8090
    volumes:
      - ../models/llm:/models
    restart: unless-stopped

  wake:
    build:
      context: ..
      dockerfile: wake-openwakeword/Dockerfile
    container_name: wake
    network_mode: host
    environment:
      - AUDIO_WS_URL=ws://127.0.0.1:8080/audio/mic
      - WAKE_WORD=hey_jarvis
      - WAKE_THRESHOLD=0.5
    restart: unless-stopped

  audio-gateway:
    build:
      context: ..
      dockerfile: audio-gateway/Dockerfile
    container_name: audio-gateway
    network_mode: host
    privileged: true
    environment:
      - AUDIO_GATEWAY_PORT=8080
    devices:
      - /dev/snd:/dev/snd
    restart: unless-stopped
